In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder

In [7]:
df = pd.read_csv("Bengaluru_House_Data.csv")

In [8]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [9]:
# So this our dataset we have to do some datacleaning a head in this dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11572 entries, 0 to 11571
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     9876 non-null   object
 1   availability  9876 non-null   object
 2   location      9875 non-null   object
 3   size          9863 non-null   object
 4   society       5783 non-null   object
 5   total_sqft    9876 non-null   object
 6   bath          9814 non-null   float64
 7   balcony       9402 non-null   float64
 8   price         9876 non-null   float64
dtypes: float64(3), object(6)
memory usage: 813.8+ KB

In [10]:
# As you can see there many null values in this dataset and also some feature are in categorical form 
# First i will replace the null values with the mode and the mean

categorical_column = ["area_type" , "availability" , "location" , "size" , "society" , "total_sqft"]

# now here i will run a loop 

for i in categorical_column:
    mode = df[i].mode()[0]
    df[i].fillna(mode , inplace = True)
    

numerical_column = ["bath" , "balcony" , "price"]

for col in numerical_column:
    mean = df[col].mean()
    df[col].fillna(mean , inplace = True)

In [11]:
df.isnull().sum()

# As you can here we fill the nan values with the mode and mean

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11572 entries, 0 to 11571
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     11572 non-null  object
 1   availability  11572 non-null  object
 2   location      11572 non-null  object
 3   size          11572 non-null  object
 4   society       11572 non-null  object
 5   total_sqft    11572 non-null  object
 6   bath          11572 non-null  float64
 7   balcony       11572 non-null  float64
 8   price         11572 non-null  float64
dtypes: float64(3), object(6)
memory usage: 813.8+ KB

In [13]:
# Now here i will use labelencoder to assign value for each unique category

encoder = LabelEncoder()

for i in df.columns:
    if df[i].dtype == "object":
        df[i +"_encoded"] = encoder.fit_transform(df[i])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11572 entries, 0 to 11571
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   area_type             11572 non-null  object
 1   availability          11572 non-null  object
 2   location              11572 non-null  object
 3   size                  11572 non-null  object
 4   society               11572 non-null  object
 5   total_sqft            11572 non-null  object
 6   bath                  11572 non-null  float64
 7   balcony               11572 non-null  float64
 8   price                 11572 non-null  float64
 9   area_type_encoded     11572 non-null  int64
 10  availability_encoded  11572 non-null  int64
 11  location_encoded      11572 non-null  int64
 12  size_encoded          11572 non-null  int64
 13  society_encoded       11572 non-null  int64
 14  total_sqft_encoded    11572 non-null  int64
dtypes: float64(3), int64(6), object(6)
memory usage: 1.3+ MB

In [15]:
# Now you can see we assign the label to them

# now i will remove the categorical columns

columns_to_remove = ["area_type" , "availability" , "location" , "size" , "society" , "total_sqft"]

df.drop(columns = columns_to_remove , inplace = True)

In [16]:
df.head()

,bath,balcony,price,area_type_encoded,availability_encoded,location_encoded,size_encoded,society_encoded,total_sqft_encoded
0,2.0,1.0,39.07,3,36,370,11,384,65
1,5.0,3.0,120.00,2,75,279,17,2064,1153
2,2.0,3.0,62.00,0,75,1052,14,679,471
3,3.0,1.0,95.00,3,75,678,14,1854,554
4,2.0,1.0,51.00,3,75,638,11,679,227

In [17]:
df.isnull().sum()

bath                    0
balcony                 0
price                   0
area_type_encoded       0
availability_encoded    0
location_encoded        0
size_encoded            0
society_encoded         0
total_sqft_encoded      0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11572 entries, 0 to 11571
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bath                  11572 non-null  float64
 1   balcony               11572 non-null  float64
 2   price                 11572 non-null  float64
 3   area_type_encoded     11572 non-null  int64
 4   availability_encoded  11572 non-null  int64
 5   location_encoded      11572 non-null  int64
 6   size_encoded          11572 non-null  int64
 7   society_encoded       11572 non-null  int64
 8   total_sqft_encoded    11572 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 813.8 KB

In [19]:
# now we cleaned our data
# now we are ready to create our model

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error , mean_absolute_error ,r2_score
from sklearn.svm import SVR

In [20]:
# here we will split our data
X = df.drop("price" , axis=1)
y = df["price"]

In [21]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.3 , random_state = 42)

In [22]:

svr_regressor = SVR(kernel="rbf")

In [23]:
svr_regressor.fit(X_train , y_train)

SVR()

In [24]:
y_pred = svr_regressor.predict(X_test)

In [25]:
print(f"Mean Squared Error: {mean_squared_error(y_pred , y_test)}")
print(f"Mean_Absolute_Error: {mean_absolute_error(y_pred , y_test)}")

Mean Squared Error: 17234.950624858786
Mean_Absolute_Error: 46.15719030425739

In [26]:
mse = mean_squared_error(y_pred , y_test)
rmse = np.sqrt(mse)
print(rmse)

131.28195087238302